/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import "assets/scss/button";
@import "assets/scss/table";
@import "bootstrap/scss/bootstrap";
@import "toastify-js/src/toastify";

.section-tittle {
    margin: 0;
    font-weight: bold;
    color: $my-dark-color;

}